/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2rem;
}
p,
span {
  font-size: 1.6rem;
}
.page-container {
  height: 100%;
  background-image: url('../../images/bread-color-copyspace-1565982.jpg');
  background-position: center;
  background-size: cover;
  background-color: #453121;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-container .sign-up-container {
  width: 600px;
  max-width: 600px;
  height: 600px;
  padding: 40px;
  background: #ded888;
  border: 20px outset #8d9a39;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-container header {
  width: 48%;
  height: 500px;
}
.page-container header .header-content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-container header .header-content h1 {
  padding-bottom: 10px;
  font-size: 3.6rem;
  font-family: 'Kalam', cursive;
}
.page-container header .header-content p {
  font-family: 'Kalam', cursive;
  font-size: 2rem;
}
.form-container {
  width: 48%;
  height: 500px;
}
.form-container .head {
  padding-bottom: 20px;
  margin-top: 60px;
}
.form-container .head span {
  font-size: 2rem;
}
.form-container .head .num1 {
  border: 1px solid black;
  padding: 1.2px 8px;
  border-radius: 50%;
  margin-right: 10px;
}
.form-container .head .cto {
  font-family: 'Kalam', cursive;
}
.form-container .forms {
  height: 340px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.form-container .forms .text-form {
  width: 100%;
}
.form-container .forms .text-form span {
  font-family: 'Roboto', sans-serif;
}
.form-container .forms .text-form input {
  width: 100%;
}
.form-container .forms .sign-up-btn {
  width: 100%;
  height: 35px;
  border: 2px solid #515657;
  border-radius: 10px;
  background: #767b95;
  font-size: 2rem;
}
.form-container .forms .sign-up-btn:hover {
  background: #dbddcf;
  border: 2px solid #767b95;
  color: #515657;
}
