.dashboard-container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    background: @beige;
    border-top: 20px solid @green;
    border-bottom: 20px solid @green;
}

header {
    height: 120px;
}

.location-content {
    width: 100%;
    height: 200px;
    .location {
        display: inline-block;
    }
    .another-location {
        display: inline-block;
    }
}

.donation-content {
    height: 120px;
}

.icon-container{
    width: 30px;
    height: 30px;
    border: 2px solid @bluegrey;
    border-radius: 50%;
    background: @lightblue;
    .flex-layout(center,center);
    .create-icon {
        font-size: 3rem;
        font-weight: bolder;
        color: @bluegrey;
    }
}
