.dashboard-container {
    height: 950px;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    background-image: url('../images/repeat-wood-texture.jpg');
    background-repeat: repeat;
    border-left: 10px solid @green;
    border-right: 10px solid @green;
    @media @tablet {
        width: 90%;
        height: 1150px;
    }
    @media @phone {
        width: 100%;
        border: 0;
    }
    header {
        height: 160px;
        background: @bluegrey;
        padding: 0 20px;
        .flex-layout(space-between, center);
        @media @tablet {
            height: 300px;
            flex-direction: column-reverse;
            justify-content: space-evenly;
        }
        h1 {
            font-size: 6rem;
        }
        .logo-container {
            width: auto;
            height: 100%;
            @media @tablet {
                width: 236px;
                height: 200px;
            }
            img {
                width: auto;
                height: 100%;
            }
        }
    }
}

.business-location-h3 {
    font-size: 3rem;
    padding: 10px 20px;
    background: @brown;
    color: @tan;
    display: flex;
    align-items: center;
    border-top: 5px outset @darkbrown;
    border-bottom: 5px outset @darkbrown;
    @media @tablet {
        justify-content: center;
        padding:  10px 0;
    }
}

.location-content {
    width: 100%;
    height: 240px;
    display: flex;
    padding: 10px 0;
    .location {
        width: 200px;
        margin: 0 10px;
        padding: 0 10px;
        border: 5px solid @bluegrey;
        border-radius: 10px;
        background: @lightblue;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .business-img-container {
            width: 120px;
            height: 100px;
            margin: 0 auto;
            background: @bluegrey;
            border: 2px inset @bluegrey;
            overflow: hidden;
            .flex-layout( center, center);
            img {
                width: auto;
                height: 100%;
            }
        }
        .business-info {
            width: 160px;
            height: 80px;
            padding: 5px;
            background: @green;
            border: 2px inset @green;
            .flex-layout( space-around, center);
            flex-direction: column;
            .business-name p {
                font-family: 'Kalam', cursive;
                font-size: 2rem;
            }
        }
    }
    .another-location {
        width: 100%;
        margin: 0 10px;
        display: flex;
        align-items: center;
    }
}

.pick-up-scedule-h3 {
    font-size: 3rem;
    padding: 10px 20px;
    background: @brown;
    color: @tan;
    display: flex;
    align-items: center;
    border-top: 5px outset @darkbrown;
    border-bottom: 5px outset @darkbrown;
    @media @tablet {
        justify-content: center;
        padding:  10px 0;
    }
}

.donation-content {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 10px;
    @media @phone {
        justify-content: center;
    }
}

.calendar-h3 {
    font-size: 3rem;
    padding: 10px 20px;
    background: @brown;
    color: @tan;
    display: flex;
    align-items: center;
    border-top: 5px outset @darkbrown;
    border-bottom: 5px outset @darkbrown;
    @media @tablet {
        justify-content: center;
        padding:  10px 0;
    }
}

.calendar-container {
    height: 270px;
    width: 100%;
    .flex-layout(center, center);
    @media @tablet {
        height: 325px;
    }
    .calendar {
        width: 80%;
        height: 180px;
        border: 5px outset @brown;
        display: flex;
        background: @lightblue;
        @media @tablet {
            display: flex;
            flex-direction: column;
            width: 90%;
            height: 300px;
        }
        .day-block {
            width: 20%;
            height: 100%;
            border: 1px solid black;
            @media @tablet {
                width: 100%;
                display: flex;
            }
        }
        .date {
            height: 30%;
            padding: 10px 5px;
            font-size: 2rem;
            font-family: 'Roboto', sans-serif;
            display: flex;
            align-items: center;
            border-bottom: 1px solid black;
            background: @bluegrey;
            @media @tablet {
                height: 100%;
                width: 30%;
                justify-content: center;
            }
        }
        .pickup-log {
            height: 70%;
            padding: 10px 5px;
            background: @lightblue;
            line-height: 1.5;
            display: flex;
            align-items: center;
            text-align: center;
            @media @tablet {
                height: 100%;
                width: 70%;
                line-height: 1;
            }
        }
    }
}

.selector-container {
    height: 50px;
    background: @green;
    border-radius: 10px;
    border:3px outset @green;
    display: flex;          
    align-items: center;
    justify-content: center;
    @media @phone {
        width: 70px;
        height: 70px;
    }
    p {
        font-size: 2rem;
        margin-right: 10px;
        @media @phone {
            display: none;
        }
    }
}

.icon-container{
    width: 30px;
    height: 30px;
    border: 2px solid @bluegrey;
    border-radius: 50%;
    background: @lightblue;
    margin:  0 10px;
    @media @phone {
        width: 60px;
        height: 60px;
        margin: 0;
    }
    .flex-layout(center,center);
    &:hover {
        background-color: @lightgrey;
    }
    .create-icon {
        font-size: 3rem;
        font-weight: bolder;
        color: @bluegrey;
        &:hover {
            color: @red;
        }
        @media @phone {
            font-size: 5rem;
        }
    }
}
