.page-container {
    height: 100%;
    .flex-layout(center, center);
    .sign-up-container {
        width: 650px;
        max-width: 650px;
        height: 650px;
        padding: 20px;
        background: @beige;
        border: 20px outset @green;
        border-radius: 10px;
        margin: 0 auto;
        .flex-layout(space-between, center);
    }
    header {
        width: 50%;
        height: 500px;
        .header-content {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                padding-bottom: 10px;
                font-size: 3.6rem;
                font-family: 'Kalam', cursive;
            }
            p {
                font-family: 'Kalam', cursive;
                font-size: 2rem;
            }
        }
    }
}

.form-container {
    width: 50%;
    height: 500px;
    .head {
        padding-bottom: 20px;
        margin-top: 60px;
        span {
            font-size: 2rem;
        }
        .num {
            font-family: 'Roboto', sans-serif;
            border: 1px solid black;
            padding: 1.2px 8px;
            border-radius: 50%; 
            margin-right: 10px;
        }
        .head-title {
            font-family: 'Kalam', cursive;
        }
    }
    .account-form {
        height: 340px;
    }
    .business-form {
        height: 218px;
        .submit-form {
            width: 100%;
        }
    }
    form {
        height: 100%;
        width: 90%;
        .flex-layout(space-between, flex-start);
        flex-direction: column;
        .input-container {
            width: 100%;
            span {
                font-family: 'Roboto', sans-serif;
            }
            input {
                width: 100%;
                background: @lightgrey;
                padding: 4px 0;
                border-radius: 3px;
                border: 1px solid @lightblue;
                font-size: 1.6rem;
            }
        }
    }
        .btn {
            width: 100%;
            height: 35px;
            border: 2px solid @bluegrey;
            border-radius: 10px;
            background: @lightblue;
            font-size: 2.0rem;
            &:hover {
                background: @lightgrey;
                border: 2px solid @lightblue;
                color: @bluegrey;
            }
        }
        .sign-up {
            margin: 16.6px 0;
        }
    .hidden {
        display: none;
    }   
}
