* {
    box-sizing: border-box;
  }
  
  html,body {
      height: 100%;
  }
  
  html {
    font-size: 62.5%;
  }

  body {
    background-image: url('../../images/bread-color-copyspace-1565982.jpg');
    background-position: center;
    background-size: cover;
    background-color: @darkbrown;
  }

  h1 {
    font-size: 3.2rem;
  }
  
  h3 {
    font-size: 2rem;
  }
  
  p, span {
    font-size: 1.6rem;
  }
  
 