* {
    box-sizing: border-box;
  }
  
  html,body {
      height: 100%;
      margin: 0;
  }
  
  html {
    font-size: 62.5%;
  }

.bg {
    height: 100%;
    background-image: url('../images/bread-color-copyspace-1565982.jpg');
    // background-position: center;
    background-attachment: fixed;
    // background-repeat: no-repeat;
    background-size: cover;
    background-color: @darkbrown;
  }

  h1 {
    font-size: 3.2rem;
    font-family: 'Kalam', cursive;
  }
  
  h3 {
    font-size: 2rem;
    font-family: 'Kalam', cursive;
  }
  
  p, span {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
  }
  
 
