.homepage-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   h1 {
        font-size: 6rem;
        font-family: 'Kalam', cursive;
        text-align: center;
        color:@green;
        -webkit-text-stroke: 1px black;
        text-shadow: 5px 5px 0 #000, -1px -1px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px 1px 0 #000;
    }
}

.divs-container {
    margin: 0 auto;
    width: 80%;
    height: 400px;
    // border: 4px solid black;
    display: flex;
    justify-content: space-evenly;
    // background-color: @tan;

    .content-box {
        margin: 20px 20px;
        border: 10px solid @green;
        border-radius: 10px;
        width: 325px;
        height: 325px;
        background-color: @beige;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .selector {
            // border: 2px solid black;
            width: 100px;
            height: 100px;
         i {
             display: flex;
             justify-content: center;
             color: @tomato;
             &:hover {
                color: @orange;
            }
         }
        }
    }
    
    .h2div {
        text-align: center;
    }
    h2 {
        font-family: 'Kalam', cursive;
        font-size: 3rem;
        color: @orange;
    }
    .pdiv {
        text-align: center;
        font-size: 1.5rem;
        padding-top: 20px;
        p {
            font-family: 'Kalam', cursive;
            color: @orange;
        }
    }
    a {
        text-decoration: none;
    }
   
}


